*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

:root{
    --background-img:  url('../media/imagen-fondo.png'), url('../media/imagenCurso.jpg'), url('../media/curso.jpg'), 
                       url('../media/contacto.jpg'), url('../media/profesora.jpg'),url('../media/alumnos.jpg'), url('');
    /* --bg-color: #e5031d; */

}

#headerApp {

    height: 8vh;
    /* Poner un color de fondo al header  */
    /* background-color: ; */
    display: flex;
    justify-content: space-between;
    padding: 7px;
}


.logo img{
    width: 50px;
}

.navMenu ul{
    list-style: none;
    display: flex;
    padding: 12px;
}

.navMenu ul li{
    margin-right: 20px;
    color: #333;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
}

.navMenu ul li a {
    background-color: lightseagreen;
    text-decoration: none;
    color: antiquewhite;
}

.navMenu ul li button {
    background-color: lightseagreen;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 8%;
}

.navMenu li a:hover{
    color: #333;
    background-color: #ddd;
}

.navMenu li button:hover{
    color: #333;
    background-color: #ddd;
}

#cuerpoPrincipal{
    display: flex;
    height: 80vh;
}

/*Estilo para el botón de alumnos  */
/* .highLight{
    background-color: yellow;

} */

.parteLateral {
    background-color: lightseagreen;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
}

.parteCentralFormularios{

    width: 70%;
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.formulario label{
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* .informacionAcademia video{
    width: 1100px;
    height: 650px;
    padding: 70px;

} */

.video{
    width: 800px;
    height: 650px;
    padding: 70px;


}

.formulario button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #45a049;
}

#footerId {
    background-color: lightsalmon;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#footerId p{
    text-align: center;
}





